*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
    
  
}
 body{
  background-color: rgb(224, 218, 207);
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 } 
  
 .container{
  position: relative;
  width: 100%;
  min-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns:  1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.2);
  text-align: center;
   background-image:url(/)
 }

 .container .left{
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    height: 990px;
    background: #167266;
    border-width: 380px;
    padding: 30px;

}
   .profilImg{
      width: 300px;
     


   }
    

    .profileTexte{
      position: relative;
      padding: 100hv;  
      margin-top: 200px;        
 }

 

 .profiletext {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px;
   border-bottom: 1PX solid rgba(255,255,255,0.2);
   margin-top: 4ss000px;
   height: 300px;
  
  
   }
   
  .container .right{
    position: relative;
    background: #666f91;
    padding: 40px;
   }

   .title2{
      position: absolute;
      top:80px;
      left:500px;
   }
   .img{
      position:absolute;
      left:50px;
      top:-200px;
      border-radius:50%;
   }
   
   .texte{
      position: absolute;
      top:120px;
      left:480px;
      width: 700px;
   }

   .Exp{
      position:absolute;
      top: 300px;
      left: 700px;
      font-size: 22px;
      font-weight: bold;

   }

   .Exp1{
      position:absolute;
      top: 360px;
      left: 500px;
      width: 900px;
      
      
 }
 .Comp{
      position:absolute;
      top: 270px;
      left: 200px;
      font-size: 22px;
      font-weight: bold;
      border-radius: 50px;
      border-color: #2d615a;

   }

   .Comp1{
      position:absolute;
      top: 320px;
      left: 30px;
      width: 350px;
      right: 100px;
      
      
 }
   .Form{
     position:absolute;
      top: 850px;    
      font-size: 22px;
      font-weight: bold;
      right: 360px;
      width: 150px;
      
  

   }
   .Form1{
     position:absolute;
      top: 905px;
      right: 35px;
      width: 700px;
      
      
      

   }